<div id="rnp-inicio-screen" class="home">

  <ngx-spinner size="medium" type="ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

  <div class="row home-map-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fill" style="padding: 0px !important;">
      <app-map #appMap
      (moveEndedEvent) = "this.onMoveEnded()"
      (polyCreatedEvent) = "this.onPolyCreated($event)"
      (polyEditedEvent) = "this.onPolyCreated($event)"
      (polyRemovedEvent) = "this.onPolyRemoved($event)"
      (markerAddedEvent) = "this.onMarkerAdded($event)"
      (markerRemovedEvent) = "this.onMarkerRemoved($event)"
      (resetTimeseries) = "this.onTimeseriesReset()"
      ></app-map>
    </div>
  </div>

  <app-charts-bar class="charts-menu"></app-charts-bar>

  <div ngDraggable class="widget bar-chart-window"
  [style.z-index] = "this.isChartVisible('bar') ? this.chartZindex('bar') : '-10' "
  (started)="this.moving = 'bar'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'bar'">
    <app-bar-chart #appBarChart
    (barParamChanged) = "this.onBarSelectedChanged()"
    ></app-bar-chart>
  </div>

  <div ngDraggable class="widget line-chart-window"
  [style.z-index] = "this.isChartVisible('line') ? this.chartZindex('line') : '-10' "
  (started)="this.moving = 'line'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'line'">
    <app-line-chart #appLineChart
    (lineParamChanged) = "this.onLineSelectedChanged()"
    (lineValueChanged) = "this.onLineSelectedChanged()"
    ></app-line-chart>
  </div>

  <div ngDraggable class="widget network-window"
  [style.z-index] = "this.isChartVisible('net') ? this.chartZindex('net') : '-10' "
  (started)="this.moving = 'net'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'net'">
    <app-network #appNetworkChart 
    (heatMatrixValueChanged) = "this.updateHeatmatrix();"
    (heatMatrixParamChanged) = "this.updateHeatmatrix();"
    (onCapitalSelected) = "this.updateTimeseries($event);"
    ></app-network>
  </div>

  <div ngDraggable class="widget scattergl-window"
  [style.z-index] = "this.isChartVisible('scattergl') ? this.chartZindex('scattergl') : '-10' "
  (started)="this.moving = 'scattergl'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'scattergl'">
    <app-scattergl #appScatterglChart
    (onAreaSelect) = "this.onAreaSelected($event)"
    (removeAreaSelection) = "this.onHighlightRemoved()"
    (onParamSelected) = "this.updateScattergl($event);"
    ></app-scattergl>
  </div>

  <div ngDraggable style="position: absolute; top: 400px; left: 10px; width: 200px; z-index: 900;"
  [style.z-index] = "this.isChartVisible('alerts') ? this.chartZindex('alerts') : '-10' "
  (started)="this.moving = 'alerts'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'alerts'">
    <app-alerts #appAlerts></app-alerts>
  </div>

  <div style="position: absolute; width: 400px; bottom: 10px; left: 10px; z-index: -10;"
  [style.z-index] = "this.isConfigVisible('filters') ? this.chartZindex('filters') : '-10'">
    <app-filters #appFilters
    (filtersDefined) = this.onFiltersDefined($event)
    (filtersRemoved) = this.onFiltersRemoved()></app-filters>
  </div>

  <app-time-bar class="time-menu"
    (chartTimeChanged) = "this.onChartTimeChanged($event)">  
  </app-time-bar> 
</div>
