<div id="rnp-inicio-screen" class="home">

  <div class="row home-map-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fill" style="padding: 0px !important;">
      <app-map #appMap
      (moveEndedEvent) = "this.onMoveEnded()"
      (polyCreatedEvent) = "this.onPolyCreated($event)"
      (polyEditedEvent) = "this.onPolyCreated($event)"
      (polyRemovedEvent) = "this.onPolyRemoved($event)"
      (markerAddedEvent) = "this.onMarkerAdded($event)"
      (markerRemovedEvent) = "this.onMarkerRemoved($event)"
      ></app-map>
    </div>
  </div>

  <app-charts-bar class="charts-menu"></app-charts-bar>

  <div ngDraggable class="widget" style="position: absolute; top: 180px; right: 10px; height: 340px !important;"
  [style.z-index] = "this.isChartVisible('bar') ? this.chartZindex('bar') : '-10' "
  (started)="this.moving = 'bar'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'bar'">
    <app-bar-chart #appBarChart
    (checkboxClicked) = "this.onCheckboxClicked()"
    ></app-bar-chart>
  </div>

  <div ngDraggable class="widget" style="position: absolute; top: 530px; right: 10px; height: 340px !important;"
  [style.z-index] = "this.isChartVisible('line') ? this.chartZindex('line') : '-10' "
  (started)="this.moving = 'line'; this.last = 'none'" (stopped)="this.moving = 'none'; this.last = 'line'">
    <app-line-chart #appLineChart
    (chartTimeChanged) = "this.onChartTimeChanged($event)"
    ></app-line-chart>
  </div>

  <app-config-bar class="configs-menu"></app-config-bar>

  <div style="position: absolute; width: 400px; bottom: 60px; left: 10px;"
  [style.z-index] = "this.isConfigVisible('filters') ? 950 : '-10'">
    <app-filters #appFilters
    (filtersDefined) = this.onFiltersDefined()
    (filtersRemoved) = this.onFiltersRemoved()></app-filters>
  </div>

</div>
