.home {
  --split: 1.0;
  height: calc(100% - 120px);
}

.home-map-row {
  height: calc(var(--split) * 100%);
}

.home-chart-row {
  height: calc((1.0 - var(--split)) * 100%);
}

.widget {
  z-index: 100;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);

  padding: 10px;

  background-color: white;
  opacity: 0.95;
}

.charts-menu {
  position: absolute;
  z-index: 1000;

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
  box-shadow: 2px 3px 5px #ccc;

  background-color: #fff;
  opacity: 0.9;

  top: 130px;
  right: 10px;
}

.time-menu {
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
  box-shadow: 2px 3px 5px #ccc;
  background-color: #fff;
  opacity: 0.9;
  bottom: 30px;
  right: 10px;
}

.dates {
  display: flex;
  position: absolute;
  z-index: 1001;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #bfbfbf;
  background-color: #fff;
  opacity: 0.9;
  right: 410px;
  width: 219px;
  height: 38px;
  top: 130px;
  box-shadow: 2px 3px 5px #ccc;
}

.date {
  width: 50%;
  height: 100%;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  line-height: 34px;
}


.configs-menu {
  position: absolute;
  z-index: 1000;

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
  box-shadow: 2px 3px 5px #ccc;

  background-color: #fff;
  opacity: 0.9;

  bottom: 20px;
  left: 10px;
}


.bar-chart-window {
  position: absolute;
  top: 180px;
  right: 10px;
  width: 516px;
  height: 294px;
  z-index: -10;
}

.line-chart-window {
  position: absolute;
  top: 480px;
  right: 10px;
  width: 516px; 
  height: 294px;
  z-index: -10;
}

.scattergl-window {
  position: absolute;
  top: 129px;
  right: 532px;
  width: 516px;
  height: 410px;
  z-index: -10;
}

.network-heatmatrix-window {
  position: absolute;
  top: 129px;
  right: 546px;
  width: 622px;
  height: 778px;
  z-index: -10;
}

.network-timeseries-window, .functions-chart-window {
  position: absolute;
  top: 129px;
  right: 532px;
  width: 620px;
  height: 470px;
  z-index: -10;
}

.functions-chart-window {
  right: 10px !important;
  top: 174px !important;
}



@media screen and (min-width: 1024px) {
  .bar-chart-window {
    width: 600px;
    height: 342px;
  }
  
  .line-chart-window {
    width: 600px;
    top: 530px;
    height: 342px;
  }
  
  .scattergl-window {
    width: 600px;
    right: 620px;
    height: 463px;
  }
  .network-heatmatrix-window {
    width: 740px;
    right: 636px;
  }
}