.home {
  --split: 1.0;
  height: calc(100% - 120px);
}

.home-map-row {
  height: calc(var(--split) * 100%);
}

.home-chart-row {
  height: calc((1.0 - var(--split)) * 100%);
}

.widget {
  z-index: 900;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);

  padding: 10px;

  background-color: white;
  opacity: 0.95;

  height: 300px;
  width: 600px;
}

.charts-menu {
  position: absolute;
  z-index: 1000;

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
  box-shadow: 2px 3px 5px #ccc;

  background-color: #fff;
  opacity: 0.9;

  top: 130px;
  right: 10px;
}


.configs-menu {
  position: absolute;
  z-index: 1000;

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
  box-shadow: 2px 3px 5px #ccc;

  background-color: #fff;
  opacity: 0.9;

  bottom: 10px;
  left: 10px;
}
