<!-- Barra de título -->
<div class="rnp-title-bar">
  <!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
  <p>Botões</p>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      Mais informações em: <br>
      <a href="http://getbootstrap.com/css/#buttons" target="_blank">http://getbootstrap.com/css/#buttons</a>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Botões principais</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de botões podem ser adicionadas as tags: <b>button</b>, <b>a</b> e <b>input</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>btn btn-CLASSE-color OPÇÃO</b>.

        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <code class="language-html" data-lang="html">
              &#60;button class="btn btn-primary-color"&#62;Botão primário (btn btn-primary-color)&#60;/button&#62;
            </code>
            <br/><br/>
            <button class="btn btn-primary-color">Botão primário (btn btn-primary-color)</button>
            <br><br>
            <code class="language-html" data-lang="html">
              &#60;button class="btn btn-primary-color full"&#62;Botão primário (btn btn-primary-color)&#60;/button&#62;
            </code>
            <br/><br/>
            <button class="btn btn-primary-color full">Botão primário fora-a-fora (btn btn-primary-color full)</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Botões secundários</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de botões podem ser adicionadas as tags: <b>button</b>, <b>a</b> e <b>input</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>btn btn-CLASSE-color OPÇÃO</b>
        </div>
        <div class="panel-body">
          <code class="language-html" data-lang="html">
            &#60;button class="btn btn-secondary-color"&#62;Botão secundário (btn btn-secondary-color)&#60;/button&#62;
          </code>
          <br/><br/>
          <button class="btn btn-secondary-color">Botão secundário (btn btn-secondary-color)</button>
          <br><br>
          <code class="language-html" data-lang="html">
            &#60;button class="btn btn-secondary-color full"&#62;Botão secundário fora-a-fora(btn btn-secondary-color)&#60;/button&#62;
          </code>
          <br/><br/>
          <button class="btn btn-secondary-color full">Botão secundário fora-a-fora (btn btn-secondary-color full)</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Botões de exclusão</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de botões podem ser adicionadas as tags: <b>button</b>, <b>a</b> e <b>input</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>btn btn-CLASSE-color OPÇÃO</b>
        </div>
        <div class="panel-body">
          <code class="language-html" data-lang="html">
            &#60;button class="btn btn-delete-color"&#62;Botão de exclusão (btn btn-delete-color)&#60;/button&#62;
          </code>
          <br/><br/>
          <button class="btn btn-delete-color">Botão secundário (btn btn-delete-color)</button>
          <br><br>
          <code class="language-html" data-lang="html">
            &#60;button class="btn btn-delete-color full"&#62;Botão de exclusão fora-a-fora (btn btn-delete-color)&#60;/button&#62;
          </code>
          <br/><br/>
          <button class="btn btn-delete-color full">Botão secundário fora-a-fora (btn btn-delete-color full)</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Botões arredondados</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de botões podem ser adicionadas as tags: <b>button</b>, <b>a</b> e <b>input</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>btn btn-CLASSE-color OPÇÃO</b>
        </div>
        <div class="panel-body">
          <code class="language-html" data-lang="html">
            &#60;button class="btn btn-primary-round"&#62;Botão arredondado (btn btn-primary-round)&#60;/button&#62;
          </code>
          <br/><br/>
          <button class="btn btn-primary-round">Botão arredondado (btn btn-primary-round)</button>
          <br><br>
          <code class="language-html" data-lang="html">
            &#60;button class="btn btn-primary-round full"&#62;Botão arredondado fora-a-fora (btn btn-primary-round)&#60;/button&#62;
          </code>
          <br/><br/>
          <button class="btn btn-primary-round full">Botão arredondado fora-a-fora (btn btn-primary-round full)</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Botões de ícones</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de botões podem ser adicionadas as tags: <b>button</b>, <b>a</b> e <b>input</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>btn btn-CLASSE-color OPÇÃO</b>
        </div>
        <div class="panel-body">
          <div>
            <code class="language-html" data-lang="html">
              &#60;button class="btn btn-secondary-color icon"&#62;
                &#60;i class="fa fa-pencil-square-o"&#62;&#60;/i&#62;
              &#60;/button&#62;
              <br/><br/>
              &#60;button class="btn btn-secondary-color icon"&#62;
                &#60;i class="fa fa-remove"&#62;&#60;/i&#62;
              &#60;/button&#62;
            </code>
            <br/><br/>
          </div>
          <div>
            <button class="btn btn-secondary-color icon">
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-secondary-color icon">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Botões do calendário</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de botões do calendário podem ser adicionadas as tags: <b>button</b>, <b>a</b> e <b>input</b>.
          Devem sempre estar dentro de uma estrutura com a classe <b>.rnp-calendar-menu</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>btn rnp-calendar-btn</b>
        </div>
        <div class="panel-body">

          <code>
            &#60;button class="btn rnp-calendar-btn"&#62;Botão do calendário (btn rnp-calendar-btn)&#60;/button&#62;
            <br/><br/>
          </code>

          <div class="rnp-calendar-menu">
            <button class="btn rnp-calendar-btn">Botão do calendário (btn rnp-calendar-btn)</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label>Grupos de botões do calendário</label>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          As classes de grupo de botões do calendário deve ser adicionada a tag <b>div</b>. Deve sempre estar dentro de uma estrutura com a classe <b>.rnp-calendar-menu</b>.
          <br>
          Sua composição sempre segue o padrão:
          <br>
          <b>rnp-calendar-btn-group</b>
        </div>
        <div class="panel-body">

          <code>

            &#60;div class="rnp-calendar-menu"&#62;
            <br/>
              &#60;div class="rnp-calendar-btn-group"&#62;
            <br/>
                &#60;button class="btn rnp-calendar-btn active"&#62;Botão 1&#60;/button&#62;
            <br/>
                &#60;button class="btn rnp-calendar-btn"&#62;Botão 2&#60;/button&#62;
            <br/>
              &#60;/div&#62;
            <br/>
            &#60;/div&#62;


            <br/><br/>
          </code>

          <div class="rnp-calendar-menu">
            <div class="rnp-calendar-btn-group">
              <button class="btn rnp-calendar-btn active">Botão 1</button>
              <button class="btn rnp-calendar-btn">Botão 2</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h4>Botões para ações</h4>
      <p>
        Estilos de botão pode ser aplicado a qualquer coisa com a classe btn e btn-default. Aplicada. No entanto, normalmente você vai querer aplicá-las as elementos do tipo
        <code>
          button</code>
        .
      </p>

      <h4>Compatibilidade</h4>
      <p>
        IE9 não corta gradientes de fundo em cantos arredondados, então resolvemos removê-los neste browser.
        Ainda sobre o IE9, quando desativamos um
        <code>
          button</code>
        , o browser coloca um texto cinza com uma sombra
        que infelizmente não podemos resolver utilizando os recursos atuais disponíveis.
      </p>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

      <h4>Uma class, multiplas tags.</h4>
      <p>
        Você deve utilizar a classe
        <code>.btn</code>
        e
        <code>.btn-secondary-color</code>
        nas tags
        <code>
          &lt;button&gt;</code>
        , ou
        <code>
          &lt;input&gt;</code>
        conforme o exemplo abaixo. O resultado dessa aplicação deve ser
        uniforme, independente da tag utilizada.
      </p>

      <form>
        <button class="btn btn-secondary-color" type="submit">
          Button
        </button>
        <input class="btn btn-secondary-color" type="button" value="Input">
        <input class="btn btn-secondary-color" type="submit" value="Submit">
      </form>
      <p>
        Como uma boa prática, tente sempre utilizar o tipo correto de botão para garantir uma renderização correta em diversos
        browsers. Se você tem um
        <code>
          form</code>
        , utilize um
        <code>
          &lt;input type="submit" class="btn btn-secondary-color"&gt;</code>
        como botão para submeter o formulário.
      </p>
      <h3>Desabilitados</h3>
      <p>
        Para botões desabilitados, utilize a classe
        <code>
          disabled</code>
        para elementos do tipo
        <code>
          button</code>
        .
      </p>
      <p>
        <button class="btn btn-secondary-color disabled">Link</button>
        <button class="btn btn-primary-color disabled">Link</button>
      </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h4>Composição</h4>
      <p>
        A composição dos botões quando estiverem alinhados lado a lado deverá ser sempre com o primário posicionado à direita e o secundário à esquerda, tal como no exemplo:
      </p>
      <p>
        <button class="btn btn-secondary-color">Rejeitar</button>
        <button class="btn btn-primary-color">Aceitar</button>
      </p>
      <p>
        No entanto, quando existir uma ação de menor relevância como o botão "cancelar", devemos utilizar o botão correspondente a sua relevância baixa, tal como no exemplo:
      </p>
      <p>
        <button class="btn btn-secondary-color">Cancelar</button>
        <button class="btn btn-primary-color">Aceitar</button>
      </p>
      <!-- <p>A mesma coisa acontece no uso de botões de ações com iconografia. Tal como:</p>
      <p>
      <a  class="btn btn-small btn-danger" rel="tooltip" title="Reprovar" data-toggle="modal" data-target="#justificationModal">
      <i class="icon-remove icon-white"></i>
      </a>
      <a  class="btn btn-small btn-success" rel="tooltip" title="Aprovar">
      <i class="icon-ok icon-white"></i>
      </a>
      </p> -->
      <p class="alert alert-warning">
        <span class="badge badge-warning">Exceção</span> Acontecerá a ação inversa somente no uso de janelas modais ou botões de ação referentes à uma tabela, onde o sua posição será a direita.
      </p>
    </div>
  </div>

</div>