<!-- Barra de título -->
<div class="rnp-title-bar">
	<!-- <button type="button" class="btn btn-secondary-color glyphglyphicon glyphicon glyphglyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
	<p>Iconografia</p>
</div>
<div class="page-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					O ícone é uma representação que deve estar em consonância com a cultura da empresa, ou seja, ele deve ser um facilitador de entendimento. O ícone deve ser colocado junto a um botão para que em algum momento do sistema ele possa aparecer sozinho (com texto em mouse over) e continuar fazendo sentido. O ícone deve estar sempre à esquerda do texto que o acompanha (no caso de botões).
					<br/><br/>
					Mais informações: <br/>
					<a target="_blank" href="http://getbootstrap.com/components/#glyphicons">http://getbootstrap.com/components/#glyphicons</a>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12 col-lg-12 col-lg-12">
							<h3>Ícones homologados</h3>
							<p class="alert alert-success">
								<span class="badge badge-success">Atenção!</span>
								Os ícones abaixo já foram homologados e sua utilização é livre no contexto ao qual foram atribuídos.
							</p>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<ul class="list-unstyled cards">
								<li>
									<i class="glyphicon glyphicon-ok"></i> glyphicon glyphicon-ok
									<h5 class="mute">Em ações de salvar e confirmar</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-pencil"></i> glyphicon glyphicon-pencil
									<h5 class="mute">Em ações de edição primária</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-edit"></i> glyphicon glyphicon-edit
									<h5 class="mute">Em ações de edição de baixa relevância</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-trash"></i> glyphicon glyphicon-trash
									<h5 class="mute">Em ações de exclusão</h5>
								</li>
							</ul>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<ul class="list-unstyled cards">
								<li>
									<i class="glyphicon glyphicon-star"></i> glyphicon glyphicon-star
									<h5 class="mute">Para ações de favoritar um item</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-search"></i> glyphicon glyphicon-search
									<h5 class="mute">Buscar um item</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-comment"></i> glyphicon glyphicon-comment
									<h5 class="mute">Para comentários</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-print"></i> glyphicon glyphicon-print
									<h5 class="mute">Para ações de impressão</h5>
								</li>
							</ul>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<ul class="list-unstyled cards">
								<li>
									<i class="glyphicon glyphicon-calendar"></i> glyphicon glyphicon-calendar
									<h5 class="mute">Para exibição de calendários</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-download-alt"></i> glyphicon glyphicon-download-alt
									<h5 class="mute">Para ações de download</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-user"></i> glyphicon glyphicon-user
									<h5 class="mute">Para ações relacionadas ao usuário</h5>
								</li>
								<li>
									<i class="glyphicon glyphicon-repeat"></i> glyphicon glyphicon-repeat
									<h5 class="mute">Para ações de devolução de um item</h5>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<h3>Todos ícones (inclusive não homologados)</h3>
							<p class="alert alert-danger">
								<span class="badge badge-important">Atenção!</span>
								Antes de utilizar um ícone abaixo certifique-se de verificar com o arquiteto de UX responsável ou líder do projeto a viabilidade de utilização do ícone.
							</p>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<ul class="list-unstyled">
								<li><i class="glyphicon glyphicon-glass"></i> icon-glass</li>
								<li><i class="glyphicon glyphicon-music"></i> icon-music</li>
								<li><i class="glyphicon glyphicon-search"></i> icon-search</li>
								<li><i class="glyphicon glyphicon-envelope"></i> icon-envelope</li>
								<li><i class="glyphicon glyphicon-heart"></i> icon-heart</li>
								<li><i class="glyphicon glyphicon-star"></i> icon-star</li>
								<li><i class="glyphicon glyphicon-star-empty"></i> icon-star-empty</li>
								<li><i class="glyphicon glyphicon-user"></i> icon-user</li>
								<li><i class="glyphicon glyphicon-film"></i> icon-film</li>
								<li><i class="glyphicon glyphicon-th-large"></i> icon-th-large</li>
								<li><i class="glyphicon glyphicon-th"></i> icon-th</li>
								<li><i class="glyphicon glyphicon-th-list"></i> icon-th-list</li>
								<li><i class="glyphicon glyphicon-ok"></i> icon-ok</li>
								<li><i class="glyphicon glyphicon-remove"></i> icon-remove</li>
								<li><i class="glyphicon glyphicon-zoom-in"></i> icon-zoom-in</li>
								<li><i class="glyphicon glyphicon-zoom-out"></i> icon-zoom-out</li>
								<li><i class="glyphicon glyphicon-off"></i> icon-off</li>
								<li><i class="glyphicon glyphicon-signal"></i> icon-signal</li>
								<li><i class="glyphicon glyphicon-cog"></i> icon-cog</li>
								<li><i class="glyphicon glyphicon-trash"></i> icon-trash</li>
								<li><i class="glyphicon glyphicon-home"></i> icon-home</li>
								<li><i class="glyphicon glyphicon-file"></i> icon-file</li>
								<li><i class="glyphicon glyphicon-time"></i> icon-time</li>
								<li><i class="glyphicon glyphicon-road"></i> icon-road</li>
								<li><i class="glyphicon glyphicon-download-alt"></i> icon-download-alt</li>
								<li><i class="glyphicon glyphicon-download"></i> icon-download</li>
								<li><i class="glyphicon glyphicon-upload"></i> icon-upload</li>
								<li><i class="glyphicon glyphicon-inbox"></i> icon-inbox</li>
								<li><i class="glyphicon glyphicon-play-circle"></i> icon-play-circle</li>
								<li><i class="glyphicon glyphicon-repeat"></i> icon-repeat</li>
								<li><i class="glyphicon glyphicon-refresh"></i> icon-refresh</li>
								<li><i class="glyphicon glyphicon-list-alt"></i> icon-list-alt</li>
								<li><i class="glyphicon glyphicon-lock"></i> icon-lock</li>
								<li><i class="glyphicon glyphicon-flag"></i> icon-flag</li>
								<li><i class="glyphicon glyphicon-headphones"></i> icon-headphones</li>
							</ul>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<ul class="list-unstyled">
								<li><i class="glyphicon glyphicon-volume-off"></i> icon-volume-off</li>
								<li><i class="glyphicon glyphicon-volume-down"></i> icon-volume-down</li>
								<li><i class="glyphicon glyphicon-volume-up"></i> icon-volume-up</li>
								<li><i class="glyphicon glyphicon-qrcode"></i> icon-qrcode</li>
								<li><i class="glyphicon glyphicon-barcode"></i> icon-barcode</li>
								<li><i class="glyphicon glyphicon-tag"></i> icon-tag</li>
								<li><i class="glyphicon glyphicon-tags"></i> icon-tags</li>
								<li><i class="glyphicon glyphicon-book"></i> icon-book</li>
								<li><i class="glyphicon glyphicon-bookmark"></i> icon-bookmark</li>
								<li><i class="glyphicon glyphicon-print"></i> icon-print</li>
								<li><i class="glyphicon glyphicon-camera"></i> icon-camera</li>
								<li><i class="glyphicon glyphicon-font"></i> icon-font</li>
								<li><i class="glyphicon glyphicon-bold"></i> icon-bold</li>
								<li><i class="glyphicon glyphicon-italic"></i> icon-italic</li>
								<li><i class="glyphicon glyphicon-text-height"></i> icon-text-height</li>
								<li><i class="glyphicon glyphicon-text-width"></i> icon-text-width</li>
								<li><i class="glyphicon glyphicon-align-left"></i> icon-align-left</li>
								<li><i class="glyphicon glyphicon-align-center"></i> icon-align-center</li>
								<li><i class="glyphicon glyphicon-align-right"></i> icon-align-right</li>
								<li><i class="glyphicon glyphicon-align-justify"></i> icon-align-justify</li>
								<li><i class="glyphicon glyphicon-list"></i> icon-list</li>
								<li><i class="glyphicon glyphicon-indent-left"></i> icon-indent-left</li>
								<li><i class="glyphicon glyphicon-indent-right"></i> icon-indent-right</li>
								<li><i class="glyphicon glyphicon-facetime-video"></i> icon-facetime-video</li>
								<li><i class="glyphicon glyphicon-picture"></i> icon-picture</li>
								<li><i class="glyphicon glyphicon-pencil"></i> icon-pencil</li>
								<li><i class="glyphicon glyphicon-map-marker"></i> icon-map-marker</li>
								<li><i class="glyphicon glyphicon-adjust"></i> icon-adjust</li>
								<li><i class="glyphicon glyphicon-tint"></i> icon-tint</li>
								<li><i class="glyphicon glyphicon-edit"></i> icon-edit</li>
								<li><i class="glyphicon glyphicon-share"></i> icon-share</li>
								<li><i class="glyphicon glyphicon-check"></i> icon-check</li>
								<li><i class="glyphicon glyphicon-move"></i> icon-move</li>
								<li><i class="glyphicon glyphicon-step-backward"></i> icon-step-backward</li>
								<li><i class="glyphicon glyphicon-fast-backward"></i> icon-fast-backward</li>
							</ul>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<ul class="list-unstyled">
								<li><i class="glyphicon glyphicon-backward"></i> icon-backward</li>
								<li><i class="glyphicon glyphicon-play"></i> icon-play</li>
								<li><i class="glyphicon glyphicon-pause"></i> icon-pause</li>
								<li><i class="glyphicon glyphicon-stop"></i> icon-stop</li>
								<li><i class="glyphicon glyphicon-forward"></i> icon-forward</li>
								<li><i class="glyphicon glyphicon-fast-forward"></i> icon-fast-forward</li>
								<li><i class="glyphicon glyphicon-step-forward"></i> icon-step-forward</li>
								<li><i class="glyphicon glyphicon-eject"></i> icon-eject</li>
								<li><i class="glyphicon glyphicon-chevron-left"></i> icon-chevron-left</li>
								<li><i class="glyphicon glyphicon-chevron-right"></i> icon-chevron-right</li>
								<li><i class="glyphicon glyphicon-plus-sign"></i> icon-plus-sign</li>
								<li><i class="glyphicon glyphicon-minus-sign"></i> icon-minus-sign</li>
								<li><i class="glyphicon glyphicon-remove-sign"></i> icon-remove-sign</li>
								<li><i class="glyphicon glyphicon-ok-sign"></i> icon-ok-sign</li>
								<li><i class="glyphicon glyphicon-question-sign"></i> icon-question-sign</li>
								<li><i class="glyphicon glyphicon-info-sign"></i> icon-info-sign</li>
								<li><i class="glyphicon glyphicon-screenshot"></i> icon-screenshot</li>
								<li><i class="glyphicon glyphicon-remove-circle"></i> icon-remove-circle</li>
								<li><i class="glyphicon glyphicon-ok-circle"></i> icon-ok-circle</li>
								<li><i class="glyphicon glyphicon-ban-circle"></i> icon-ban-circle</li>
								<li><i class="glyphicon glyphicon-arrow-left"></i> icon-arrow-left</li>
								<li><i class="glyphicon glyphicon-arrow-right"></i> icon-arrow-right</li>
								<li><i class="glyphicon glyphicon-arrow-up"></i> icon-arrow-up</li>
								<li><i class="glyphicon glyphicon-arrow-down"></i> icon-arrow-down</li>
								<li><i class="glyphicon glyphicon-share-alt"></i> icon-share-alt</li>
								<li><i class="glyphicon glyphicon-resize-full"></i> icon-resize-full</li>
								<li><i class="glyphicon glyphicon-resize-small"></i> icon-resize-small</li>
								<li><i class="glyphicon glyphicon-plus"></i> icon-plus</li>
								<li><i class="glyphicon glyphicon-minus"></i> icon-minus</li>
								<li><i class="glyphicon glyphicon-asterisk"></i> icon-asterisk</li>
								<li><i class="glyphicon glyphicon-exclamation-sign"></i> icon-exclamation-sign</li>
								<li><i class="glyphicon glyphicon-gift"></i> icon-gift</li>
								<li><i class="glyphicon glyphicon-leaf"></i> icon-leaf</li>
								<li><i class="glyphicon glyphicon-fire"></i> icon-fire</li>
								<li><i class="glyphicon glyphicon-eye-open"></i> icon-eye-open</li>
							</ul>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<ul class="list-unstyled">
								<li><i class="glyphicon glyphicon-eye-close"></i> icon-eye-close</li>
								<li><i class="glyphicon glyphicon-warning-sign"></i> icon-warning-sign</li>
								<li><i class="glyphicon glyphicon-plane"></i> icon-plane</li>
								<li><i class="glyphicon glyphicon-calendar"></i> icon-calendar</li>
								<li><i class="glyphicon glyphicon-random"></i> icon-random</li>
								<li><i class="glyphicon glyphicon-comment"></i> icon-comment</li>
								<li><i class="glyphicon glyphicon-magnet"></i> icon-magnet</li>
								<li><i class="glyphicon glyphicon-chevron-up"></i> icon-chevron-up</li>
								<li><i class="glyphicon glyphicon-chevron-down"></i> icon-chevron-down</li>
								<li><i class="glyphicon glyphicon-retweet"></i> icon-retweet</li>
								<li><i class="glyphicon glyphicon-shopping-cart"></i> icon-shopping-cart</li>
								<li><i class="glyphicon glyphicon-folder-close"></i> icon-folder-close</li>
								<li><i class="glyphicon glyphicon-folder-open"></i> icon-folder-open</li>
								<li><i class="glyphicon glyphicon-resize-vertical"></i> icon-resize-vertical</li>
								<li><i class="glyphicon glyphicon-resize-horizontal"></i> icon-resize-horizontal</li>
								<li><i class="glyphicon glyphicon-hdd"></i> icon-hdd</li>
								<li><i class="glyphicon glyphicon-bullhorn"></i> icon-bullhorn</li>
								<li><i class="glyphicon glyphicon-bell"></i> icon-bell</li>
								<li><i class="glyphicon glyphicon-certificate"></i> icon-certificate</li>
								<li><i class="glyphicon glyphicon-thumbs-up"></i> icon-thumbs-up</li>
								<li><i class="glyphicon glyphicon-thumbs-down"></i> icon-thumbs-down</li>
								<li><i class="glyphicon glyphicon-hand-right"></i> icon-hand-right</li>
								<li><i class="glyphicon glyphicon-hand-left"></i> icon-hand-left</li>
								<li><i class="glyphicon glyphicon-hand-up"></i> icon-hand-up</li>
								<li><i class="glyphicon glyphicon-hand-down"></i> icon-hand-down</li>
								<li><i class="glyphicon glyphicon-circle-arrow-right"></i> icon-circle-arrow-right</li>
								<li><i class="glyphicon glyphicon-circle-arrow-left"></i> icon-circle-arrow-left</li>
								<li><i class="glyphicon glyphicon-circle-arrow-up"></i> icon-circle-arrow-up</li>
								<li><i class="glyphicon glyphicon-circle-arrow-down"></i> icon-circle-arrow-down</li>
								<li><i class="glyphicon glyphicon-globe"></i> icon-globe</li>
								<li><i class="glyphicon glyphicon-wrench"></i> icon-wrench</li>
								<li><i class="glyphicon glyphicon-tasks"></i> icon-tasks</li>
								<li><i class="glyphicon glyphicon-filter"></i> icon-filter</li>
								<li><i class="glyphicon glyphicon-briefcase"></i> icon-briefcase</li>
								<li><i class="glyphicon glyphicon-fullscreen"></i> icon-fullscreen</li>
							</ul>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<h4>Como usar</h4>
							<p>A Guideline usa uma tag<code>&lt;i&gt;</code> para todos os ícones, mas eles não têm nenhum caso de classe, apenas um prefixo comum. Para usar, coloque o seguinte código em qualquer lugar:</p>
							<br>
							<code>
							&#60;i class="glyphicon glyphicon-search"&#62;&#60;/i&#62;
							</code>
							<br><br>
							<p>Há mais de 250 classes para escolher a partir de seus ícones.
							<br>
							Basta adicionar uma tag <code>&lt;i&gt;</code> com a classe certa e estará pronto.
							<br>
							Esse sprite de ícones poderá ser aumentado, com isso aumentará o número de classes que representa os ícones.</p>
							<span class="label label-info">Mas atenção!</span>
							Ao utilizar ao lado de áreas de texto, como em botões ou links, não se esqueça de deixar um espaço após a tag <code>&lt;i&gt;</code> para o espaçamento adequado.
							<p></p>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<h4>Casos de uso</h4>
							<p>Os ícones são legais, mas onde então devemos usá-los? Aqui estão algumas idéias:</p>
							<ul>
								<li>Como recursos visuais para a sua barra lateral de navegação</li>
								<li>Para uma navegação puramente icon-driven "navegação orientada pelos ícones"</li>
								<li>Em botões para ajudar a transmitir o significado de uma ação</li>
								<li>Com links para compartilhar contexto do destino de um usuário</li>
							</ul>
							<p>Essencialmente, qualquer lugar que você pode colocar uma tag <code>&lt;i&gt;</code>, você pode colocar um ícone.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>