<!-- Barra de título -->
<div class="rnp-title-bar">
  <p>Inputs e Selects</p>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label>Inputs</label>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Inputs sempre devem ser utilizados dentro de uma tag <b>form</b> e possuir a classe
          <b>form-control</b>. A largura deste componente é referente ao tamanho do grid que o cerca.
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <code>
                &#60;div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br/>
                  &#60;input class="form-control" type="text" placeholder="Texto" /&#62;
                <br/>
                &#60;/div&#62;
              </code>
              <br/><br/>
              <input class="form-control" type="text" placeholder="Texto" />
              <br>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <code>
                &#60;div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <br/>
                &#60;input class="form-control" type="email" placeholder="Email" /&#62;
                <br/>
                &#60;/div&#62;
              </code>
              <br/><br/>
              <input class="form-control" type="email" placeholder="Email" />
              <br>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <code>
                &#60;div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <br/>
                &#60;input class="form-control" type="password" placeholder="Senha" /&#62;
                <br/>
                &#60;/div&#62;
              </code>
              <br/><br/>
              <input class="form-control" type="password" placeholder="Senha" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label>Selects</label>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Selects sempre devem ser utilizados dentro de uma tag <b>form</b> e possuir a classe
          <b>form-control</b>. A largura deste componente é referente ao tamanho do grid que o cerca.
        </div>
        <div class="panel-body">

          <form class="form-horizontal">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <code>

                &#60;select class="form-control"&#62;
                <br/>
                &#60;option value=""&#62;Escolha um valor&#60;/option&#62;
                <br/>
                &#60;option value="1"&#62;Valor 1&#60;/option&#62;
                <br/>
                &#60;option value="2"&#62;Valor 2&#60;/option&#62;
                <br/>
                &#60;option value="3"&#62;Valor 3&#60;/option&#62;
                <br/>
                &#60;/select&#62;

              </code>

              <br/><br/>

              <select class="form-control">
                <option value="">Escolha um valor</option>
                <option value="1">Valor 1</option>
                <option value="2">Valor 2</option>
                <option value="3">Valor 3</option>
              </select>
              <br>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <select class="form-control">
                <option value="">Escolha um valor</option>
                <option value="1">Valor 1</option>
                <option value="2">Valor 2</option>
                <option value="3">Valor 3</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label>Select arredondado</label>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Por padrão, todos os Selects são arredondados. Basta não utilizar nenhuma classe modificadora.
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

              <code>
                &#60;select&#62;
                <br/>
                  &#60;option value=""&#62;Escolha um valor&#60;/option&#62;
                <br/>
                  &#60;option value="1"&#62;Valor 1&#60;/option&#62;
                <br/>
                  &#60;option value="2"&#62;Valor 2&#60;/option&#62;
                <br/>
                  &#60;option value="3"&#62;Valor 3&#60;/option&#62;
                <br/>
                &#60;/select&#62;

              </code>
              <br/><br/>

              <select>
                <option value="">Escolha um valor</option>
                <option value="1">Valor 1</option>
                <option value="2">Valor 2</option>
                <option value="3">Valor 3</option>
              </select>
              <br>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <select>
                <option value="">Escolha um valor</option>
                <option value="1">Valor 1</option>
                <option value="2">Valor 2</option>
                <option value="3">Valor 3</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>