<!-- Barra de título -->
<div class="rnp-title-bar">
  <!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
  <p>Mensageria</p>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Todas as mensagens de feedback do usuário, como alterações em entidades ou açoes
          que modificam qualquer estrutura inserida na aplicação, devem ser exibidas conforme o modelo abaixo,
          centralizado o topo da tela.
          <br><br>
          Para afixar nesta posição, é necessário utilizar a classe <b>message-center-important</b>.
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Carregando
        </div>
        <div class="panel-body">

          <code>

            &#60;span class="message-center"&#62;
            <br/>
              &#60;div class="message-box"&#62;
            <br/>
                &#60;span class="message"&#62;Carregando...&#60;/span&#62;
            <br/>
              &#60;/div&#62;
            <br/>
            &#60;/span&#62;

          </code>

          <br/>
          <br/>


            <span class="message-center">
              <div class="message-box" ng-class="message.classes">
                <span class="message">Carregando...</span>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sucesso
        </div>
        <div class="panel-body">

          <code>

            &#60;span class="message-center"&#62;
            <br/>
            &#60;div class="message-box success"&#62;
            <br/>
            &#60;span class="message"&#62;Sucesso...&#60;/span&#62;
            <br/>
            &#60;/div&#62;
            <br/>
            &#60;/span&#62;

          </code>

          <br/>
          <br/>

            <span class="message-center">
              <div class="message-box success" ng-class="message.classes">
                <span class="message">Sucesso...</span>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Erro
        </div>
        <div class="panel-body">
          <code>

            &#60;span class="message-center"&#62;
            <br/>
            &#60;div class="message-box danger"&#62;
            <br/>
            &#60;span class="message"&#62;Erro...&#60;/span&#62;
            <br/>
            &#60;/div&#62;
            <br/>
            &#60;/span&#62;

          </code>

          <br/>
          <br/>


            <span class="message-center">
              <div class="message-box danger" ng-class="message.classes">
                <span class="message">Erro...</span>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Aviso
        </div>
        <div class="panel-body">

          <code>

            &#60;span class="message-center"&#62;
            <br/>
            &#60;div class="message-box warning"&#62;
            <br/>
            &#60;span class="message"&#62;Aviso...&#60;/span&#62;
            <br/>
            &#60;/div&#62;
            <br/>
            &#60;/span&#62;

          </code>

          <br/>
          <br/>

            <span class="message-center">
              <div class="message-box warning" ng-class="message.classes">
                <span class="message">Aviso...</span>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          Informação
        </div>
        <div class="panel-body">
          <code>

            &#60;span class="message-center"&#62;
            <br/>
            &#60;div class="message-box info"&#62;
            <br/>
            &#60;span class="message"&#62;Informação...&#60;/span&#62;
            <br/>
            &#60;/div&#62;
            <br/>
            &#60;/span&#62;

          </code>

          <br/>
          <br/>

            <span class="message-center">
              <div class="message-box info" ng-class="message.classes">
                <span class="message">Informação...</span>
              </div>
            </span>
        </div>
      </div>
    </div>
  </div>

</div>