.ui-date {
  float        : left;
  margin-right : 10px;
  position     : relative;
  width        : 160px;

  .ui-date-input {
    border  : 1px solid #ccc;
    height  : 30px;
    padding : 0 30px 0 5px;
    width   : 100%;

    @include borderRadius(3px);
  }

  .ui-date-calendar-icon {
    display        : inline-block;
    height         : 30px;
    pointer-events : none;
    position       : absolute;
    right          : 0;
    top            : 0;
    width          : 30px;

    &:before {
      content     : "\f133";
      color       : #bcbcbc;
      display     : block;
      font-family : 'FontAwesome';
      font-size   : 18px;
      height      : 100%;
      line-height : 30px;
      text-align  : center;
      width       : 100%;
    }
  }
}