<!-- Barra de título -->
<div class="rnp-title-bar">
	<!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
	<p>Compatibilidade de browsers</p>
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					A guideline, conforme está desenvolvida, contempla com eficiência
					de funcionalidade e design/layout dos seguintes navegadores e
					versões:
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3>Compatibilidade de browsers</h3>
					<table class="table" id="table-sistemas">
						<tbody>
						<tr>
							<th>Browser</th>
							<th>Versão mínima</th>
						</tr>
						<tr>
							<td>Internet Explorer</td>
							<td>9.0+</td>
						</tr>
						<tr>
							<td>Firefox</td>
							<td>24.0+</td>
						</tr>
						<tr>
							<td>Google Chrome</td>
							<td>29.0+</td>
						</tr>
						<tr>
							<td>Safari</td>
							<td>10.6+</td>
						</tr>
						<tr>
							<td>Android</td>
							<td>2.1+</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3>Observações</h3>
					<ul class="unstyled">
						<li>
							<p>Na RNP o navegador padrão adotado é o Internet Explorer versão
								mínima 9.0 e entendemos que a funcionalidade, frente à guideline,
								deve ser total, porém sempre haverá depreciação quanto a alguns
								recursos de layout/design como botões, mouse over etc.</p>
						</li>
						<li>
							<p>A RNP não adota como padrão os navegadores Firefox e Google Chrome, por isso não
								existe controle de versões. Não considerá-los padrão é devido a
								impossibilidade de assegurar que os sistemas existentes funcionem
								corretamente.</p>
						</li>
						<li>
							<p>O Android é utilizado nos celulares dos gerentes e a versão
								mínima é 2.1, caso a pessoa nunca tenha atualizado.</p>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>