<div id="rnp-inicio-screen" class="home">

  <div class="row home-map-row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 fill" style="padding: 0px !important;">
      <app-map></app-map>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 fill" style="padding: 0px !important; background-color: cornflowerblue;">
    </div>
  </div>

  <div class="row home-chart-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fill" style="padding: 0px !important;">
      <app-line-chart></app-line-chart>
    </div>
  </div>

</div>
