<div>
    <div class="fill functions-chart">
        <canvas style="padding-bottom: 10px; width: 100%; height: 100% !important;" [style.display]="this.lineChartsVisibility" #functionsChart></canvas>
        <table mat-table [dataSource]="tableElements" [style.display]="this.tableVisibility">
            <ng-container matColumnDef="metric">
                <th mat-header-cell *matHeaderCellDef> Metrics </th>
                <td mat-cell *matCellDef="let element"> {{element.metric}} </td>
            </ng-container>
          
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Values </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

      
    <div style="display: flex; padding-bottom: 7px; width: 100%; left: 10px; font-size: 11px !important;">
        <div class="model-select">
            <select name="select" class="param-selector" (change)="this.onParamChange($event)" id='functions-chart-options'>
                <option value="cdf" selected>CDF</option>
                <option value="pdf">PDF</option>
                <option value="ccdf">CCDF</option>
                <option value="timeseries">Time series</option>
                <option value="table">AI metrics table</option>
            </select>
        </div>
        <div class="code-select" [style.margin-right]="this.isCapitalSelected() ? '-30px' : '0px'">
            <select *ngIf="this.isTimeSeriesSelected()" name="type" style="width: 111px;" id='functions-chart-select-value-options' name="select" class="value-selector" (change)="this.onValueChange($event)">
                <option value="popxpop">Pop x Pop</option>
                <option value="popxservice">Pop x Serviços</option>
            </select>
            <select *ngIf="!this.isCapitalSelected() && !this.isTimeSeriesSelected() && !this.isTableSelected()" id='functions-chart-select-value-options' name="select" class="value-selector" (change)="this.onValueChange($event)">
                <option value="all" selected>Todos os pops x todos os serviços</option>
                <option value="allpops">Todos os pops x serviço</option>
                <option value="nxn">N pops x N serviços</option>
            </select>
            <select *ngIf="this.isCapitalSelected()  && !this.isTimeSeriesSelected()" id='functions-chart-select-value-options' name="select" class="value-selector" style="width:133px;" (change)="this.onValueChange($event)">
                <option value="allservices" selected>Pop x todos os serviços</option>
                <option value="single">Pop x serviço</option>
            </select>
            <select *ngIf="this.isTableSelected()" id='functions-chart-select-value-options' name="select" style="width: 191px !important;" class="value-selector" (change)="this.onTableOptionChange($event)">
                <option value="all" selected>Todos os pops x todos os pops</option>
                <option value="1xn">Todos os pops x Pop</option>
                <option value="npopxnpop">Pop x Pop</option>
            </select>  
        </div>
        <div *ngIf="this.isTimeSeriesSelected() && this.isPopSelected()" id="code-select-box" class="code-select" [style.margin-left]="!this.hasData ? '-64px' : '-42px'">
            <select name="code" class="value-selector" id='functions-chart-select-timeseries-popxpop-value-options' (change)="this.onPopValueChange()">
                <optgroup label="Atraso e perda">
                    <option value="11">Atraso de ida e volta (RTT - average)</option>
                    <option value="12">Atraso de ida e volta (RTT - min)</option>
                    <option value="13">Atraso de ida e volta (RTT - max)</option>
                    <option value="16">Histogram-ttl-reverse (average)</option>
                    <option value="17">Histogram-ttl-reverse (min)</option>
                    <option value="18">Histogram-ttl-reverse (max)</option>
                    <option value="24">Packet-loss-rate-bidir</option>
                </optgroup>
                <optgroup label="Atraso unidirecional">
                    <option value="41">Atraso unidirecional (owdelay - average)</option>
                    <option value="42">Atraso unidirecional (owdelay - min)</option>
                    <option value="43">Atraso unidirecional (owdelay - max)</option>
                    <option value="46">Histogram-ttl (average)</option>
                    <option value="47">Histogram-ttl (min)</option>
                    <option value="48">Histogram-ttl (max)</option>
                    <option value="54">Packet-loss-rate</option>
                </optgroup>
                <optgroup label="BANDA (BBR)">
                    <option value="71">Packet-retransmits</option>
                    <option value="77">Throughput (BBR)</option>
                </optgroup>
                <optgroup label="BANDA (CUBIC)">
                    <option value="101">Packet-retransmits</option>
                    <option value="107">Throughput (CUBIC)</option>
                </optgroup>
                <optgroup label="TraceRoute">
                    <option value="131">Packet-trace (average)</option>
                    <option value="132">Packet-trace (min)</option>
                    <option value="133">Packet-trace (max)</option>
                </optgroup>
            </select>
        </div>    
        <div *ngIf="this.isTableSelected()" id="code-select-box" class="code-select" style="margin-left: -15px; width: 70px;">
            <select name="code" class="value-selector" id='functions-chart-select-timeseries-popxpop-value-options' (change)="this.onTableParamChange($event)">
                <option value="cubic">CUBIC</option>
                <option value="bbr">BBR</option>
            </select>
        </div>
        <div *ngIf="this.isTableSelected()" id="code-select-box" class="code-select" style="margin-left: 4px; width: 78px;">
            <select name="code" class="value-selector" id='functions-chart-select-timeseries-popxpop-value-options' (change)="this.onTableModelChange($event)">
                <option value="knn">KNN</option>
                <option value="svm">SVM</option>
                <option value="tree">Decision Tree</option>
            </select>
        </div>
        <div *ngIf="(this.shouldShowServices() && !this.isTimeSeriesSelected()) || (!this.isPopSelected() && this.isCapitalSelected() && this.isTimeSeriesSelected())" [style.margin-left]="(!this.isPopSelected() && this.isCapitalSelected()) ? '-50px' : '17px'" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectServicesPlaceholder"
            [settings]="this.dropdownSettingsServices"
            [data]="this.dropdownListServices"
            [(ngModel)] = "this.selectedItemsRoot"
            (onSelect)="this.onItemSelect($event, true)"
            (onDeSelect)="this.onItemSelect($event, false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="(this.isCapitalSelected() && this.isTimeSeriesSelected() && this.isPopSelected()) || (this.isTableSelected() && this.isOneToN())" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectPopsPlaceholder"
            [settings]="this.dropdownSettingsPops"
            [data]="this.dropdownListPops"
            [(ngModel)] = "this.selectedItemsRoot"
            (onSelect)="this.onItemSelect($event, true)"
            (onDeSelect)="this.onItemSelect($event, false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="(this.shouldShowMultiSelectors() && !this.isCapitalSelected()) || (this.isTableSelected() && this.isNToN())" [style.margin-left]="this.isPopSelected() ? '17px' : '64px'"  id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectPopsPlaceholder"
            [settings]="this.dropdownSettingsPops"
            [data]="this.dropdownListPops"
            [(ngModel)] = "this.selectedItemsRoot"
            (onSelect)="this.onCombinedSelect($event, 'pop', true)"
            (onDeSelect)="this.onCombinedSelect($event, 'pop', false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="(this.isPopSelected() && !this.isCapitalSelected())  || (this.isTableSelected() && this.isNToN())" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectPopsPlaceholder"
            [settings]="this.dropdownSettingsPops"
            [data]="this.dropdownListPops"
            [(ngModel)] = "this.selectedItemsRootSecondary"
            (onSelect)="this.onCombinedSelect($event, 'secondarypop', true)"
            (onDeSelect)="this.onCombinedSelect($event, 'secondarypop', false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="(this.shouldShowMultiSelectors() && !this.isTimeSeriesSelected()) || (this.isServiceSelected() && !this.isCapitalSelected())" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectServicesPlaceholder"
            [settings]="this.dropdownSettingsServices"
            [data]="this.dropdownListServices"
            (onSelect)="this.onCombinedSelect($event, 'service', true)"
            (onDeSelect)="this.onCombinedSelect($event, 'service', false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="this.hasData && this.shouldShowMultiSelectors()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectCombinedPlaceholder"
            [settings]="this.dropdownSettingsCombined"
            [data]="this.dropdownListCombined"
            [(ngModel)]="this.combinedSelections">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="(this.shouldShowMultiSelectors()  || this.isTimeSeriesSelected()) && !this.isCapitalSelected()" class="combined-control">
            <button class="btn btn-custom" type="button" (click)="this.addDataCombinations()">
                <span class="fas fa-plus"
                [style.color]="'#243d8f'"></span>
            </button>
            <button class="btn btn-custom" type="button" (click)="this.removeDataCombinations()">
                <span class="fas fa-trash"
                [style.color]="'#F51720'"></span>
            </button>
        </div>
    </div>
</div>