.functions-chart {
    height: 380px;
    top: 10px;
    width: 578px;
}

.code-select {
    width: 222px;
    margin-top: 7px;
    margin-left: 17px;
    font-size: 9px;
}

.model-select {
    width: 72px;
    margin-top: 7px;
    margin-left: 17px;
    font-size: 9px;
}

.chart-select {
    width: 97px;
    margin-top: 7px;
    margin-left: 17px;
    font-size: 9px;
}
