<div>
    <div class="fill functions-chart">
        <canvas style="padding-bottom: 10px; width: 100%; height: 100% !important;" #functionsChart></canvas>
    </div>
    <div style="display: flex; padding-bottom: 7px; width: 100%; border-top: 1px solid #eee; left: 10px; font-size: 11px !important;">
        <div class="model-select">
            <select name="select" class="param-selector" (change)="this.onParamChange($event)">
                <option value="cdf" selected>CDF</option>
                <option value="pdf">PDF</option>
                <option value="ccdf">CCDF</option>
                <option value="timeseries">Time series</option>
            </select>
        </div>
        <div class="code-select">
            <select *ngIf="this.isTimeSeriesSelected()" name="type" class="network-select" style="width: 111px;" id='functions-chart-select-value-options' name="select" class="value-selector" (change)="this.onValueChange($event)">
                <option value="popxpop">Pop x Pop</option>
                <option value="popxservice">Pop x Serviços</option>
            </select>
            <select *ngIf="!this.isCapitalSelected() && !this.isTimeSeriesSelected()" id='functions-chart-select-value-options' name="select" class="value-selector" (change)="this.onValueChange($event)">
                <option value="all" selected>Todos os pops x todos os serviços</option>
                <option value="allpops">Todos os pops x serviço</option>
                <option value="nxn">N pops x N serviços</option>
            </select>
            <select *ngIf="this.isCapitalSelected()  && !this.isTimeSeriesSelected()" id='functions-chart-select-value-options' name="select" class="value-selector" (change)="this.onValueChange($event)">
                <option value="allservices" selected>Pop x todos os serviços</option>
                <option value="single">Pop x serviço</option>
            </select>  
        </div>
        <div *ngIf="this.shouldShowServices()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectServicesPlaceholder"
            [settings]="this.dropdownSettingsServices"
            [data]="this.dropdownListServices"
            [(ngModel)] = "this.selectedItemsRoot"
            (onSelect)="this.onItemSelect($event, true)"
            (onDeSelect)="this.onItemSelect($event, false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="this.shouldShowMultiSelectors()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectPopsPlaceholder"
            [settings]="this.dropdownSettingsPops"
            [data]="this.dropdownListPops"
            [(ngModel)] = "this.selectedItemsRoot"
            (onSelect)="this.onCombinedSelect($event, 'pop', true)"
            (onDeSelect)="this.onCombinedSelect($event, 'pop', false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="this.isPopSelected()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectPopsPlaceholder"
            [settings]="this.dropdownSettingsPops"
            [data]="this.dropdownListPops"
            [(ngModel)] = "this.selectedItemsRoot"
            (onSelect)="this.onCombinedSelect($event, 'pop', true)"
            (onDeSelect)="this.onCombinedSelect($event, 'pop', false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="(this.shouldShowMultiSelectors() && !this.isTimeSeriesSelected()) || this.isServiceSelected()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectServicesPlaceholder"
            [settings]="this.dropdownSettingsServices"
            [data]="this.dropdownListServices"
            (onSelect)="this.onCombinedSelect($event, 'service', true)"
            (onDeSelect)="this.onCombinedSelect($event, 'service', false)">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="this.hasData && this.shouldShowMultiSelectors() && !this.isTimeSeriesSelected()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="this.multiSelectCombinedPlaceholder"
            [settings]="this.dropdownSettingsCombined"
            [data]="this.dropdownListCombined"
            [(ngModel)]="this.combinedSelections">
            </ng-multiselect-dropdown>
        </div>
        <div *ngIf="this.shouldShowMultiSelectors()  || this.isTimeSeriesSelected()" class="combined-control">
            <button class="btn btn-custom" type="button" (click)="this.addDataCombinations()">
                <span class="fas fa-plus"
                [style.color]="'#243d8f'"></span>
            </button>
            <button class="btn btn-custom" type="button" (click)="this.removeDataCombinations()">
                <span class="fas fa-trash"
                [style.color]="'#F51720'"></span>
            </button>
        </div>
    </div>
</div>