<div class="fill">
  <canvas class="fill" style="padding-bottom: 10px; border-bottom: 1px solid #eee;" #lineChart></canvas>
  <div style="margin-top: 7px; padding-bottom: 7px; border-bottom: 1px solid #eee;">
    <div *ngFor="let param of this.ids; let idx = index" class="checkbox-inline ">
      <input class="form-check-input" type="radio" name="lineParams" id="lineParams" [checked]="idx === 0" [value]="param.id" (change)="this.onCheckboxClick($event)">
      <div style="display: inline-block; margin-left: 6px; vertical-align: middle; font-size: 11px;">
        <label class="form-check-label" for="lineParams">
          {{param.caption}}
        </label>
      </div>
    </div>
  </div>
  <div class="handler-line-chart">
    <button class="btn btn-line-chart" (click)='this.onClickTime(-3)'>
      <i class="fas fa-fast-backward fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(-2)'>
      <i class="fas fa-backward fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(-1)'>
      <i class="fas fa-step-backward fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(1)'>
      <i class="fas fa-step-forward fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(2)'>
      <i class="fas fa-forward fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(3)'>
      <i class="fas fa-fast-forward fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(4)'>
      <i class="fas fa-search-plus fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(-4)'>
      <i class="fas fa-search-minus fa-lg"></i>
    </button>
    <button class="btn btn-line-chart" (click)='this.onClickTime(5)'>
      <i class="fas fa-sync-alt fa-lg"
      [style.color]="this.refreshAvailable() ? '#F97432' : '#AAAAAA'"
      ></i>
    </button>
  </div>
</div>

