<div class="fill">
  <canvas class="fill" style="padding-bottom: 10px; border-bottom: 1px solid #eee;" #lineChart></canvas>
  <div style="margin-top: 7px; padding-bottom: 7px; display: flex;">
    <select name="select" class="param-selector" (change)="this.onParamChange($event)">
      <option *ngFor="let param of this.ids; let idx = index" [value]="param.id">{{param.caption}}</option>
    </select>   
    <select name="select" class="value-selector" (change)="this.onValueChange($event)">
      <option value="average" selected>Average</option>
      <option value="max">Max</option>
      <option value="min">Min</option>
    </select>
  </div>
</div>

