.handler-line-chart {
    position: absolute;
    background-color: #fff;
}

.btn-line-chart{
    color: black;
    background-color: #fff;
    outline-color: #fff !important;
  }
  
.btn-line-chart:hover {
    background-color: #eee !important;
    outline-color: #eee !important;
    color: rgb(36, 61, 143);
}
