.handler-line-chart {
    position: absolute;
    background-color: #fff;
    left: 5px;
}

.btn-line-chart{
    color: #AAAAAA;
    background-color: #fff;
    outline-color: #fff !important;
  }

.btn-line-chart:hover {
    background-color: #eee !important;
    outline-color: #eee !important;
    color: black;
}

.value-selector {
    width: 71px;
    font-size: 9px;
    margin-left: 17px;
    height: 27px;
}

.param-selector {
    width: 174px;
    font-size: 9px;
    margin-left: 17px;
    height: 27px;
}

.line-time-icon {
    font-size: 1em;
}
.handler-line-chart .btn {
    height: 24px;
    padding: 6px 21px;
    margin-top: 2px;
}

@media screen and (min-width: 1024px) {
    .line-time-icon {
        font-size: 1.33em;
    }

    .handler-line-chart .btn {
        height: 34px;
        padding: 6px 24px;
    }

    .value-selector {
        width: 79px;
        font-size: 11px;
    }
    
    .param-selector {
        width: 204px;
        font-size: 11px;
    }
}