.handler-line-chart {
    position: absolute;
    background-color: #fff;
    bottom: 2px;
    left: 5px;
}

.btn-line-chart{
    color: #AAAAAA;
    background-color: #fff;
    outline-color: #fff !important;
  }

.btn-line-chart:hover {
    background-color: #eee !important;
    outline-color: #eee !important;
    color: black;
}

.param-selector {
    width:88px;
    left: 10px;
}