.network-chart {
    height: 327px;
}

.timeseries-chart {
    height: 327px;
    position: absolute;
    width: 494px;
    top: 10px;
}

.network-select {
    font-size: 9px;
}

.code-select {
    width: 164px;
    margin-top: 7px;
    margin-left: 17px;
}

.codfield-select {
    width: 71px;
    margin-top: 7px;
    margin-left: 17px;
}

.chart-select {
    width: 86px;
    margin-top: 7px;
    margin-left: 17px;
}



@media screen and (min-width: 1024px) {
    .timeseries-chart {
        height: 380px;
        top: 10px;
        width: 578px;
    }

    .network-chart {
        height: 380px;
    }

    .network-select {
        font-size: 11px;
    }
    
    .code-select {
        width: 192px;
    }
    
    .codfield-select {
        width: 79px;
    }

    .chart-select {
        width: 97px;
    }
}