<div>
    <div class="fill network-chart" style="z-index: 99;  opacity: 1; display: inline-block;" #netChart></div>
    <div style="display: flex; margin-top: 27px; padding-bottom: 7px; width: 100%; border-top: 1px solid #eee; left: 10px; font-size: 11px !important;">
        <div id="code-select-box" class="code-select">
            <select name="type" class="network-select" (change)="this.onChartDataTypeChange($event)">
                <option value="popxpop">Pop x Pop</option>
                <option value="popxservice">Pop x Serviços</option>
            </select>
        </div>
        <div *ngIf="this.isPopSelected()" id="code-select-box" class="code-select">
            <select name="code" class="network-select" (change)="this.onParamChange($event)" [disabled]="this.networkChange">
                <optgroup label="Atraso e perda">
                    <option value="11">Atraso de ida e volta (RTT - average)</option>
                    <option value="12">Atraso de ida e volta (RTT - min)</option>
                    <option value="13">Atraso de ida e volta (RTT - max)</option>
                    <option value="16">Histogram-ttl-reverse (average)</option>
                    <option value="17">Histogram-ttl-reverse (min)</option>
                    <option value="18">Histogram-ttl-reverse (max)</option>
                    <option value="24">Packet-loss-rate-bidir</option>
                </optgroup>
                <optgroup label="Atraso unidirecional">
                    <option value="41">Atraso unidirecional (owdelay - average)</option>
                    <option value="42">Atraso unidirecional (owdelay - min)</option>
                    <option value="43">Atraso unidirecional (owdelay - max)</option>
                    <option value="46">Histogram-ttl (average)</option>
                    <option value="47">Histogram-ttl (min)</option>
                    <option value="48">Histogram-ttl (max)</option>
                    <option value="54">Packet-loss-rate</option>
                </optgroup>
                <optgroup label="BANDA (BBR)">
                    <option value="71">Packet-retransmits</option>
                    <option value="77">Throughput (BBR)</option>
                </optgroup>
                <optgroup label="BANDA (CUBIC)">
                    <option value="101">Packet-retransmits</option>
                    <option value="107">Throughput (CUBIC)</option>
                </optgroup>
                <optgroup label="TraceRoute">
                    <option value="131">Packet-trace (average)</option>
                    <option value="132">Packet-trace (min)</option>
                    <option value="133">Packet-trace (max)</option>
                </optgroup>
            </select>
        </div>
        <div *ngIf="this.isPopSelected()" id="codfield-select-box" class="codfield-select">
            <select name="codfield" class="network-select" (change)="this.onValueChange($event)">
                <option value="h_avg">Average</option>
                <option value="h_max">Max</option>
                <option value="h_min">Min</option>
            </select>        
        </div>
        <div *ngIf="this.isCapitalSelected()" class="flag"><span [class]="this.flag() ? 'fas fa-arrow-circle-up fa-lg' : 'fas fa-arrow-circle-down fa-lg'" [style.color]="this.flagColor()"></span></div>
    </div>
</div>