<div>
    <div class="fill network-chart" [style.opacity]="this.chartDisplay() ? 1 : 0" #netChart></div>
    <div class="fill timeseries-chart" [style.opacity]="this.chartDisplay() ? 0 : 1">
        <canvas style="padding-bottom: 10px; width: 100%; height: 100%;" #timeseriesChart></canvas>
    </div>
    <div style="display: flex; margin-top: 27px; padding-bottom: 7px; width: 100%; border-top: 1px solid #eee; left: 10px; font-size: 11px !important;">
        <div id="code-select-box" class="code-select">
            <select name="code" class="network-select" (change)="this.onParamChange($event)">
                <optgroup label="Atraso e perda">
                    <option value="10">Failures</option>
                    <option value="11">Atraso de ida e volta (RTT - average)</option>
                    <option value="12">Atraso de ida e volta (RTT - min)</option>
                    <option value="13">Atraso de ida e volta (RTT - max)</option>
                    <option value="16">Histogram-ttl-reverse (average)</option>
                    <option value="17">Histogram-ttl-reverse (min)</option>
                    <option value="18">Histogram-ttl-reverse (max)</option>
                    <option value="21">Packet-count-lost-bidir</option>
                    <option value="22">Packet-count-sent</option>
                    <option value="23">Packet-duplicates-bidir</option>
                    <option value="24">Packet-loss-rate-bidir</option>
                    <option value="25">Packet-reorders-bidir</option>
                </optgroup>
                <optgroup label="Atraso unidirecional">
                    <option value="40">Failures</option>
                    <option value="41">Atraso unidirecional (owdelay - average)</option>
                    <option value="42">Atraso unidirecional (owdelay - min)</option>
                    <option value="43">Atraso unidirecional (owdelay - max)</option>
                    <option value="46">Histogram-ttl (average)</option>
                    <option value="47">Histogram-ttl (min)</option>
                    <option value="48">Histogram-ttl (max)</option>
                    <option value="51">Packet-count-lost</option>
                    <option value="52">Packet-count-sent</option>
                    <option value="53">Packet-duplicates</option>
                    <option value="54">Packet-loss-rate</option>
                    <option value="55">Packet-reorders</option>
                </optgroup>
                <optgroup label="BANDA (BBR)">
                     <option value="70">Failures</option>
                    <option value="71">Packet-retransmits</option>
                    <option value="72">Packet-retransmits-subintervals (average)</option>
                    <option value="73">Packet-retransmits-subintervals (min)</option>
                    <option value="74">Packet-retransmits-subintervals (max)</option>
                    <option value="77">Throughput (BBR)</option>
                    <option value="78">Throughput-subintervals (average)</option>
                    <option value="79">Throughput-subintervals (min)</option>
                    <option value="80">Throughput-subintervals (max)</option>
                </optgroup>
                <optgroup label="BANDA (CUBIC)">
                    <option value="100">Failures</option>
                    <option value="101">Packet-retransmits</option>
                    <option value="102">Packet-retransmits-subintervals (average)</option>
                    <option value="103">Packet-retransmits-subintervals (min)</option>
                    <option value="104">Packet-retransmits-subintervals (max)</option>
                    <option value="107">Throughput (CUBIC)</option>
                    <option value="108">Throughput-subintervals (average)</option>
                    <option value="109">Throughput-subintervals (min)</option>
                    <option value="110">Throughput-subintervals (max)</option>
                </optgroup>
                <optgroup label="TraceRoute">
                    <option value="130">Failures</option>
                    <option value="131">Packet-trace (average)</option>
                    <option value="132">Packet-trace (min)</option>
                    <option value="133">Packet-trace (max)</option>
                </optgroup>
            </select>
        </div>
        <div id="codfield-select-box" class="codfield-select">
            <select name="codfield" class="network-select" (change)="this.onValueChange($event)">
                <option value="h_avg">Average</option>
                <option value="h_max">Max</option>
                <option value="h_min">Min</option>
            </select>        
        </div>
        <div *ngIf="this.isCapitalSelected()" id="chart-select-box" class="chart-select">
            <select name="chart-selector" class="network-select" (change)="this.onChartChange($event)">
                <option value="heatmatrix">Heatmatrix</option>
                <option value="timeseries">Time Series</option>
            </select>       
        </div>
        <div *ngIf="this.isTimeseriesSelected()" id="chart-select-box" class="chart-select">
            <ng-multiselect-dropdown class="custom-font-size custom-radius custom-dropdown custom-dropdown-place custom-dropdown-rotation "
            [placeholder]="'Estados'"
            [settings]="this.dropdownSettings"
            [data]="this.dropdownList"
            (onSelect)="this.onCapitalSelect($event)"
            (onDeSelect)="this.onCapitalSelect($event)">
            </ng-multiselect-dropdown>
        </div>
    </div>
</div>