@import "../../mixin/mixin";
@import "../../utils/colors";

.footer{
	@include linearGradient(to, bottom, $footerBg, $lightGrey);
	border-top: 1px solid $borderFooterColor;
	padding:20px 0;
	height: 150px;
  margin-top: 20px;
}

#guideline-version-info{
	font-size:12px;
}