.animate-fade {
  @include transition(all, all, 0.5s);

  &.ng-enter {
    opacity : 0;

    &.ng-enter-active {
      opacity : 1;
    }
  }

  &.ng-leave {
    opacity : 1;

    &.ng-leave-active {
      opacity : 0;
    }
  }
}
