<!-- Barra de título -->
<div class="rnp-title-bar">
  <!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
  <p>Textarea Limiter</p>
</div>

<div class="page-content">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>
            O componente textarea-limiter é um fallback para usuários do browser Internet Explorer.
            <br>
            Assim como os outros componentes ele é acionado automaticamente quando um textarea é inserido no documento e possuir o atributo maxlength.
            <br><br>

            Browsers modernos como Chrome, Firefox, etc já possuem esse recurso por padrão.
            <br>
            O componente adiciona um label logo abaixo do textarea, exibindo a quantidade de caracteres restantes para o usuário.
            <br>
            Quando o usuário chega no limite nenhum outro caracter é inserido no componente.
          </p>
        </div>
        <div class="panel-body">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <code>
              &#60;div class="form-group"&#62;
              <br>
                    &#60;label for="mensagem_input" class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2"&#62;Mensagem&#60;/label&#62;
                    <br>
                    &#60;div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"&#62;
                    <br>
                      &#60;textarea id="mensagem_input" rows="5" name="mensagem" class="form-control" maxlength="200"&#62;&#60;/textarea&#62;
                      <br>
                    &#60;/div&#62;
                    <br>
                  &#60;/div&#62;
                  <br>
            </code>
            <br/><br/>


            <form id="form" class="form-horizontal" validation="" novalidate="novalidate">
              <div class="row">
                <fieldset>
                  <div class="form-group">
                    <label for="mensagem_input" class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2">Mensagem</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <textarea id="mensagem_input" rows="5" name="mensagem" class="form-control" maxlength="200"></textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>