
// =============================================
// Guideline Colors
// =============================================

$primaryColor          : #243d8f;
$secondaryColor        : #666666;
$greyColor             : #8c8c8c;
$lightGrey             : #fcfcfc;
$bgColor               : #ffffff;
$errorBgColor          : #fde3e3;
$errorTextColor        : #cc3333;
$errorBorderColor      : #c00;
$errorPlaceholderColor : lighten(#cc3333, 15%);

// Alert Colors
// ===========================
$dangerColor  : #9e0b0f;
$infoColor    : #049cdb;
$warningColor : #f89406;
$successColor : #2ecc71;