
// =============================================
// Main Variables
// =============================================
$mainBarHeight: 60px;
$applicationContentWidth: 1024px;


// =============================================
// Aux Variables
// =============================================

$paddingDefault  : 10px;
$marginDefault   : 10px;
$btnBorderRadius : 4px;


