<!-- Barra de título -->
<div class="rnp-title-bar">
  <!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
  <p>Cores</p>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label>Paleta de cores principal</label>

      <p>
        As cores abaixo formam a paleta de cores principal da RNP. Os valores marcados com $ devem ser utilizados quando o programador estiver utilizando os arquivos *.scss que fazem parte da guideline. Os valores em hexadecimal são apenas uma referência e, por definição, devem ser evitados na utilização direta nas folhas de estilos.
      </p>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #243d8f;">
        <div class="panel-body text-white">
          <p>$primaryColor</p>
          <small>#243d8f</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #666666;">
        <div class="panel-body text-white">
          <p>$secondaryColor</p>
          <small>#666666</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #8c8c8c;">
        <div class="panel-body text-white">
          <p>$greyColor</p>
          <small>#8c8c8c</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #fcfcfc;">
        <div class="panel-body">
          <p>$lightGrey</p>
          <small>#fcfcfc</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #ffffff;">
        <div class="panel-body">
          <p>$bgColor</p>
          <small>#ffffff</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #9e0b0f;">
        <div class="panel-body text-white">
          <p>$dangerColor</p>
          <small>#9e0b0f</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #049cdb;">
        <div class="panel-body text-white">
          <p>$infoColor</p>
          <small>#049cdb</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #f89406;">
        <div class="panel-body text-white">
          <p>$warningColor</p>
          <small>#f89406</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-vertical padding-horizontal">
      <div class="panel panel-default" style="background-color: #2ecc71;">
        <div class="panel-body text-white">
          <p>$successColor</p>
          <small>#2ecc71</small>
        </div>
      </div>
    </div>

  </div>
</div>