<!-- Barra de título -->
<div class="rnp-title-bar">
  <!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
  <p>Logos na impressão</p>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Sobre padronização de apresentação do logo RNP e de terceiros</strong>
          <p>
            O logotipo RNP deverá estar sempre no tamanho referenciado e a esquerda, <br />
            Já o logotipo de terceiros deverá ficar a direita, com tamanho respectivo a 149px x 72px.
            Todos os relatórios gerados pelos sistemas devem, obrigatoriamente, ter o logo RNP.
            Em alguns casos, há a necessidade de haver outros logos de empresas parceiras, veja exemplo abaixo.
          </p>
        </div>
        <div class="panel-body">
          <p>
            <img src="/release/resources/assets/images/impressao_terceiros.png" alt="Logo para Impressão de Terceiros" />
            <br><br>
            <img src="/release/resources/assets/images/impressao.png" alt="Logo para Impressão" />
            <br><br>
            Esse é o logotipo padrão a ser usado nas impressões.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>