/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html, body {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.fill {
  width: 100%;
  height: 100%;
}

.chart-check {
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  font-size: 9px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  box-shadow: 2px 3px 5px #ccc;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  box-shadow: 2px 3px 5px #ccc;
}


.marker-pin {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 50% 50% 50% 0;
  background-color: #bbb;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.custom-div-icon i.awesome {
  color: white;
  margin: 16px auto;
  font-size: 10px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  z-index: 10000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* Leaflet easybutton css */
.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.custom-font-size .multiselect-dropdown .dropdown-btn {
  font-size: 9px !important;
}

.custom-radius .multiselect-dropdown .dropdown-btn {
  border-radius: 100px !important;
}

.custom-dropdown .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret::before {
  border-width: 4px 3px 0 !important;
  color: #696969 !important;
  border-color: #696969 transparent !important;

}

.selected-item{
  background: grey !important;
  border: 2px solid grey!important;
 }
 
.multiselect-item-checkbox input + div:before{
  background: grey !important;
  border: 2px solid grey!important;
}

.custom-dropdown-place .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  line-height: 0px !important;
}
.custom-dropdown-rotation .multiselect-dropdown .dropdown-btn .dropdown-multiselect--active .dropdown-multiselect__caret {
  transform: rotateZ(0deg) !important;
}

@media screen and (min-width: 1024px) {
  .chart-check {
    font-size: 11px;
  }

  .custom-font-size .multiselect-dropdown .dropdown-btn {
    font-size: 11px !important;
  }
}
