<div class="fill scattergl-chart" (mousedown)="$event.stopPropagation()">
    <div class="fill" #embedding></div>
    <div style="display: flex; margin-top: 27px; padding-bottom: 7px; width: 100%; border-top: 1px solid #eee; left: 10px; font-size: 11px !important;">
        <div id="scattergl-select-box" class="chart-select">
            <ng-multiselect-dropdown id="scattergl-dropdown" class="custom-font-size custom-radius custom-dropdown custom-dropdown-list custom-dropdown-place custom-dropdown-rotation "
            [disabled]="false"
            [placeholder]="'Params'"
            [settings]="this.dropdownSettings"
            [data]="this.dropdownList"
            (onSelect)="this.onParamChange($event, true)"
            (onDeSelect)="this.onParamChange($event, false)">
            </ng-multiselect-dropdown>
        </div>
        <div id="codfield-select-box" class="codfield-select">
            <select name="codfield" class="scattergl-select" (change)="this.onOptionChange($event)">
                <option value="0">Average</option>
                <option value="2">Max</option>
                <option value="1">Min</option>
            </select>        
        </div>
        <div id="codfield-select-box" class="codfield-select">
            <select name="codfield" class="scattergl-select" (change)="this.onSelectionModeChange($event)">
                <option value="pan">Pan</option>
                <option value="selectio">Area</option>
            </select>        
        </div>
    </div>
</div>
