<div class="fill scattergl-chart">
    <div class="fill" #embedding></div>
    <div style="display: flex; margin-top: 27px; padding-bottom: 7px; width: 100%; border-top: 1px solid #eee; left: 10px; font-size: 11px !important;">
        <div id="code-select-box" class="code-select">
            <select name="code" class="scattergl-select" >
                <optgroup label="Atraso e perda" (change)="this.onParamChange($event)">
                    <option value="0">Atraso de ida e volta (RTT - average)</option>
                    <option value="3">Atraso de ida e volta (RTT - min)</option>
                    <option value="6">Atraso de ida e volta (RTT - max)</option>
                    <option value="9">Histogram-ttl-reverse (average)</option>
                </optgroup>
            </select>
        </div>
        <div id="codfield-select-box" class="codfield-select">
            <select name="codfield" class="scattergl-select" >
                <option value="h_avg">Average</option>
                <option value="h_max">Max</option>
                <option value="h_min">Min</option>
            </select>        
        </div>
    </div>
</div>