<!-- Barra de título -->
<div class="rnp-title-bar">
	<!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
	<p>Inclusão de Padrões e Definições</p>
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					Todo projeto utilizando a Guideline RNP deve ter metas padronizadas e a chamada para o Favicon da RNP incluidas na tag <code>&#60;head&#62;</code> do projeto.
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<code>

								&#60;link rel="shortcut icon" href="http://www.rnp.br/sites/all/themes/sitepublico/favicon.ico" /&#62;
								<br/><br/>
								&#60;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&#62;
								<br/><br/>
								&#60;meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/&#62;
								<br/><br/>
								&#60;meta name="Sigla ou nome da aplicação" content="Descrição da aplicação." /&#62;
								<br/><br/>
								&#60;meta name="language" content="pt-br" /&#62;
								<br/><br/>
								&#60;meta http-equiv="content-language" content="pt-br" /&#62;
								<br/><br/>
								&#60;meta name="RNP" lang="pt-br" content="Rede Nacional de Ensino e Pesquisa" /&#62;
								<br/><br/>
								&#60;meta name="robots" content="index,follow" /&#62;
								<br/><br/>
							</code>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>