<div class="helpers">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="page-header-options pull-right">
	        <div class="">
	          <button class="btn btn-default btn-sm" data-fontcontrol="decrement" disabled="">
              <i class="glyphicon glyphicon-minus"></i>
              <i class="glyphicon glyphicon-font"></i>
	          </button> 
	          <button class="btn btn-default btn-sm" data-fontcontrol="increment">
              <i class="glyphicon glyphicon-plus"></i>
              <i class="glyphicon glyphicon-font"></i>
	          </button> 
	          <button class="btn btn-default print-page">
              <i class="glyphicon glyphicon-print"></i> Imprimir
            </button>
            <button class="btn btn-default btn-help" disabled="" data-toggle="modal" href="#helpModal">
              <i class="glyphicon glyphicon-question-sign"></i> Ajuda
            </button>
	        </div>
		    </div>
			</div>
		</div>
	</div>
</div>