<!-- Barra de título -->
<div class="rnp-title-bar">
	<!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
	<p>Download</p>
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Iniciando uma nova aplicação?</strong>
					<p>Faça o download dos arquivos abaixo para iniciar o desenvolvimento de uma nova aplicação.</p>

				</div>
				<div class="panel-body">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
								<a class="btn btn-secondary-color" href="/release/rnp-guideline-v1.0.0.zip">
									<i class="glyphicon glyphicon-download-alt" style="font-size:18px;"></i>
								</a>
							</div>
							<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
								<p class="text-center">
									Contém todos os arquivos concatenados e não minificados, e concatenados e minificados. Use esse pacote durante o <strong>desenvolvimento</strong> da sua aplicação para facilitar o processo de debug.
								</p>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>