<!-- Barra de título -->
<div class="rnp-title-bar">
	<!-- <button type="button" class="btn btn-secondary-color glyphicon glyphicon-arrow-left" ui-sref="agenda"></button> -->
	<p>Releases</p>
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					Lista de Versões da Guideline
				</div>
				<div class="panel-body">
					<section id="release-candidate">
						<h3>Versão Atual</h3>
						<article>
							<h4>
								1.1.1 - Julho de 2015
								(<a href="/release/rnp-guideline-v1.1.1.zip">Arquivos</a>)
							</h4>
							<ul>
								<li>Release inicial da versão 1.1.1 da guideline.</li>
							</ul>
						</article>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>