<!-- Barra de título -->
<div class="rnp-title-bar">
	<p>Versionamento</p>
</div>

<div class="page-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-vertical padding-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					A guideline, conforme está desenvolvida, contempla com eficiência
					de funcionalidade e design/layout dos seguintes navegadores e
					versões:
				</div>
				<div class="panel-body">
					<section>
						<div class="row">

							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h2>Guideline X.Y.Z</h2>
								<h3>Onde:</h3>
								<ul class="unstyled">
									<li>
										<strong>X</strong>, deve ser incrementado se qualquer alterações realizadas tornar a versão não mais compatível com a anterior. Patch e versão secundária devem ser alteradas para 0 quando a versão principal é incrementado.
									</li>
									<li>
										<strong>Y</strong>, deve ser incrementado para novas funcionalidades, funcionalidades marcadas como obsoletas e melhorias mantendo a compatibilidade.
									</li>
									<li>
										<strong>Z</strong>, deve ser incrementado apenas para correções de bugs, mantendo a compatibilidades da versão anterior.
									</li>
								</ul>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h2>Padrões de versionamento</h2>
								<ul class="unstyled">
									<li>
										Será usado padrão de versionamento na guideline conforme padrões internacionais.
									</li>
									<li>
										Semantic Versioning: <a target="_blank" href="http://semver.org/">SemVer</a>.
									</li>
								</ul>
							</div>
						</div>
					</section>


				</div>
			</div>

		</div>
	</div>

</div>