<div id="rnp-inicio-screen" class="rnp-app-view">

  <!-- Conteúdo -->

  <!--<div menu-collapse menu-height="document" menu-width="20%" menu-collapse-width="2%" target=".screen-content" target-width="80%" target-collapse-width="98%"></div>-->

  <div class="container">
    <!-- Barra de título -->
    <div class="rnp-title-bar">
      <p>Início</p>
    </div>

    <div class="page-content">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="text-center">
	          Guideline - RNP
	          <small class="badge">v1.1.1</small>
          </h1>
          <br>
          <div class="panel panel-warning">
            <div class="panel-heading text-center">
              <a href="/release/rnp-guideline-v1.0.0.zip">Baixar arquivos da <b>Guideline RNP</b></a>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Uniformidade
            </div>

            <div class="panel-body" style="height:200px;">
              A imagem corporativa de uma instituição nasce e cresce à medida que todos os elementos de comunicação com o público e funcionários estejam integrados em um padrão de homogeneidade na apresentação de seus produtos e ou serviços, em todas as manifestações gráficas, incluindo marca, logotipo, tipografia e cores.
              <br><br>
              É necessário também uniformidade e coerência de comunicação.
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Objetivos
            </div>

            <div class="panel-body" style="height:200px;">
              O objetivo desse manual é orientar e facilitar a utilização correta dos elementos visuais em todos os sistemas da RNP, além de promover uma padronização no uso da linguagem.
              <br><br>
              Graficamente isso significa ter elementos de identificação bem definidos e apresentados de forma harmônica e padronizada.
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>